fastapi
uvicorn[standard]
slack_sdk
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
sqlalchemy
pydantic-settings
python-dotenv
requests
Pillow
pytesseract
python-docx
python-pptx
openpyxl
pdfminer.six
PyPDF2
